/*global*/

body{
    font-family: 'Bodoni Moda', serif;
    background-image: radial-gradient(rgb(90, 85, 138), rgb(126, 99, 111));
    
}

.container {grid-area: nav; }
header { grid-area: header; }
main { grid-area: main; }
div { grid-area: div; }
#job_1 { grid-area: job_1; }
#job_2 { grid-area: job_2; }
#job_3 { grid-area: job_3; }
#job_4 { grid-area: job_4; }
#education { grid-area: education; }
#skills { grid-area: skills; }


#photo {
    padding-top: 10px;
    padding-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 15rem;
    border-radius: 50px;
}

.logos {
    opacity: 70%;
}

form {
    width: 250px;
    background: rgba(255, 255, 255, 0.63);
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px
}

label i {
    color: #999;
    font-size: 80%;
}

input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}

.row {
    padding-bottom: 10px;
}

.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}

.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: rgb(66, 66, 66);
    border-color:  rgb(66, 66, 66);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background:  #ddd;
    color: rgb(87, 87, 87);
}

@media only screen and (min-width: 0px) {

/*mobile*/

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "nav"
                         "header"
                         "main"
                         "div";
    
}

main {
    padding: .5em;
    background-color: rgba(209, 209, 209, 0.63);
    margin: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

#about {
    background-color: rgba(209, 209, 209, 0.63);
    border-radius: 10px;
    padding: .5em;
    margin: 10px;
}

header > h1 {
    padding-top: 8px;
    color: rgb(31, 31, 31);
}

.container {
    width: 100%;
    margin: auto;
    height: auto;
    color: white;
    border-radius: 20px;
}

.navbar {
    background-color: rgb(66, 66, 66);
    position: relative;
}

#myLinks {
    display: none;
}

.navbar a {
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    background: rgb(5, 5, 5);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(87, 87, 87);
}

.active {
    background-color: #272727;
    color: white;
}

header {
    text-align: center;
}

} /*close mobile*/

@media only screen and (min-width: 768px) {

/*tablet*/

.experience {
    display: grid;
    grid-template-areas: "job_1 job_2"
                         "job_3 job_4";
}

.education_skills {
    display: grid;
    grid-template-areas: "education skills";
}

} /*close tablet*/

@media only screen and (min-width: 992px) {
    
/*desktop*/

    body{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "nav nav"
                             "header header"
                             "main main"
                             "div div";
        
        margin: auto;
        width: 100%;
    }

    .container {   
        padding-top: 1.2em;
        width: 100%;
        margin: auto;
    }

    .navbar {
        display: flex;
        gap: 8em;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
    }

    #myLinks { 
        display: flex;
        gap: 4em;
    }

    #fa_bars {
        display: none;
    }

    .logos {
        padding-left: 50px; 
    }

    #content {
        width: 95%;
        margin: auto;
        margin-top: .5em;
    }

    #about { grid-area: about; }
    header > h1 { grid-area: h1; }
    #photo { grid-area: photo; }
    .logos { grid-area: logos; }

    header {
        display: grid;
        grid-template-areas: "h1 h1"
                             "photo about"
                             "logos logos";
        color: rgb(58, 59, 61); 
    }

    header > h1 {
        color: black;
        width: 100%;
        padding-left: 1em;
    }

    #about {
        font-size: 24px;
        margin: 2em;
    }

    #photo {
        object-fit: cover;
        padding: 1em;
        height: 14rem;
        width: auto;
        border-radius: 50px;
    }

    .experience {
        display: grid;
        grid-template-areas: "job_1 job_2 job_3 job_4 ";
        grid-gap: 2em;                    
        width: 90%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    } 

    .education_skills {
        display: grid;
        grid-template-areas: "education skills";
        width: 90%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
} /*close desktop*/